@model IEnumerable<NetEaseDB.Models.Booking>

@{
    ViewData["Title"] = "Booking Page";
}
<!--display page header-->
<h1>@ViewData["Title"]</h1>


<!--search form-->
<form asp-action="Index" method="get" class="form-inline mb-3">
    <div class="form-group mr-2">
        <input type="text" name="searchString" class="form-control" placeholder="Search by Booking ID or Event Name" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="@Url.Action("Index", "Booking")" class="btn btn-secondary">Clear</a>
</form>

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["InfoMessage"]
    </div>
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}



<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Venue</th>
            <th>Event Info</th>
            <th>Booking Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.BookingID</td>
                <td>@booking.Venue?.VenueName</td>
                <td>@booking.EventInfo?.EventName</td>
                <td>@booking.EventInfo?.EventDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@booking.BookingID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@booking.BookingID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@booking.BookingID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
