@model IEnumerable<NetEaseDB.Models.EventInfo>

@{
    ViewData["Title"] = "Event Info Page";
}

<h1>@ViewData["Title"]</h1> <!-- Use ViewData["Title"] to display the dynamic title -->

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VenueID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EventInfoId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EventInfoId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EventInfoId">Delete</a> |
                

                   
                    
                </td>
            </tr>
        }
    </tbody>
</table>
